html{
    background-color: black;
}

body{
    background-color: black;
    color: white;
}
h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

h4{
    color: white;
}

p{
    color: white;
}


nav {
    background-color: #1f1f1f;
}

nav a {
    color: #f0f0f0;
}

nav a:hover {
    background-color: #333;
}

.get-started{
    background-color: #030213;
    color: white;
    border-color: black;
}


.home-intro {
    background-color: #333;
}

form,
.product,
.edit-product,
.forum_post {
    background-color: #1e1e1e;
    color: #f0f0f0;
    border: 1px solid #444;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
}

footer {
    background-color: #1f1f1f;
    color: #ccc;
}
