

body{
    background-color: black;
    color: white;
}
h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

h4{
    color: white;
}

p{
    color: white;
}


nav,
.nav-bar {
    background-color: #1f1f1f;
}

nav a {
    color: #f0f0f0;
}

nav a:hover {
    background-color: #333;
}

.home-header{
    color: white;
    background-image: url("../media/darkHomeIntro.jpg");
    opacity:0.75;
}

.home-info{
    color: white;
}

.get-started{
    background-color: #030213;
    color: white;
    border-color: black;
}


.get-started:hover{
    background-color:#151414;
}

.dropdown .dropbtn {
    color: white;
}

.dropdown .dropbtn:hover {
    background-color: #333;
}

.dropdown-content{
    background-color: #1e1e1e;
}

.dropdown-content a{
    color: white;
}

.dropdown-content a:hover {
  background-color: #333;
}

.home-intro {
    background-color: #333;
}

.like_button {
    background-color: #1e1e1e;
    color: white;
}

.like_button:hover {
    background-color: #030213;
}

.add_forum_button{
    background-color: #333;
    color: white;
}

.add_forum_button:hover{
    background-color: #1e1e1e;
}

.edit-product{
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 15px;
}

.debt-consolidation:hover,
.financial-planning:hover,
.financial-tools:hover,
.investment-advice:hover,
.credit-score:hover,
.financial-education:hover,
.expert-assistance:hover,
.newsletters:hover,
.workshops:hover{
    box-shadow: 0 8px 16px 0 rgba(200, 197, 190, 0.663);
}

.services i{
    color: grey;
}

form,
.product,
.edit-product,
.forum_post {
    background-color: #1e1e1e;
    color: #f0f0f0;
    border: 1px solid #444;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
}

.appointment-submit{
    padding: 20px;
    background-color: red;
}

.footer {
    background-color: #1f1f1f;
}

.footer a {
    color: #f0f0f0a6;
}
.footer a:hover {
    color: white;
}

.footer span {
    color: white;
}
